
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form action="home/AddRole" method="post">
    <label>Role Name</label>
    <input type="text" class="form-control" id="roleName" name="roleName"/>
    <input type="submit" class="btn btn-primary"/>
    </form>
</div>


